/* css styles */
@import url('https://fonts.googleapis.com/css?family=proxima-nova:400,400i,700&display=swap');

h1 {
  font: proxima-nova;
  color: #2C3F50; /*#0E4D6D; */
}

h2 {
  font: proxima-nova;
  color: #2C3F50;
  font-size: 1.2em;
}

h3 {
  font: proxima-nova;
  color: #2C3F50;
}

h4 {
  font: proxima-nova;
  color: #2C3F50;
}

a {
  color: #0E4D6D;
}

p {
  font: proxima-nova;
  font-size: 0.9em;
}

ul {
  font: proxima-nova;
  font-size: 0.9em;  
}

ol {
  font: proxima-nova;
  font-size: 0.9em;  
}